<h1>Our Authors</h1>

<ul>
  <% @authors.each do |author| %>
    <li>
      <%= author.name %>
      <%= author.book_titles %>
    </li>
  <% end %>
</ul>

<% @books.each do |book| %>
  <li><%= book.title %> by <%= book.author.name %></li>
<% end %>
